# Pandas

### Series

In [2]:
import os
os.getcwd()

'/Users/claudio/Documents/GitHub/complex_networks/LABS/Lab_1/introduction to Python'

In [3]:
import pandas as pd

In [4]:
inflation = pd.Series((2.2, 3.4, 2.8, 1.6, 2.3,2.7, 3.4, 3.2, 2.8, 3.8,-0.4, 1.6, 3.2, 2.1, 1.5, 1.5))

pandas exploits numpy structures

In [5]:
inflation

0     2.2
1     3.4
2     2.8
3     1.6
4     2.3
5     2.7
6     3.4
7     3.2
8     2.8
9     3.8
10   -0.4
11    1.6
12    3.2
13    2.1
14    1.5
15    1.5
dtype: float64

In [6]:
inflation.values

array([ 2.2,  3.4,  2.8,  1.6,  2.3,  2.7,  3.4,  3.2,  2.8,  3.8, -0.4,
        1.6,  3.2,  2.1,  1.5,  1.5])

In [7]:
inflation.index

RangeIndex(start=0, stop=16, step=1)

In [8]:
inflation.index.values

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15])

In [9]:
inflation.index=pd.Index(range(1999,2015))

In [10]:
inflation[2000]

3.3999999999999999

In [11]:
inflation.index.name = "Year"

In [12]:
inflation.name = "%"

In [13]:
inflation.head()

Year
1999    2.2
2000    3.4
2001    2.8
2002    1.6
2003    2.3
Name: %, dtype: float64

In [14]:
inflation.tail()

Year
2010    1.6
2011    3.2
2012    2.1
2013    1.5
2014    1.5
Name: %, dtype: float64

In [15]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

# Frames
A data frame is a table with labeled rows and columns. You can construct a frame from a two-dimensional numpy array, a list of tuples, a Python dictionary, or another frame. In the dictionary case, the keys serve as column names, and the values (which must be sequences) are column values. In the case of another frame, pandas copies column names from the source frame to the new frame. In the case of an array, you can supply the column names through the optional parameter columns (a sequence of column names). Following the numpy approach, the frame index is called axis 0 (“vertical” dimension), and frame columns are called axis 1 (“horizontal” dimension).

In [16]:
with open("DataSet.txt") as dataset_fname:
    dataset = pd.read_csv(dataset_fname, dtype={'fips': str}).set_index('fips')

In [17]:
dataset.head()

,PST045213,PST040210,PST120213,POP010210,AGE135213,AGE295213,AGE775213,SEX255213,RHI125213,RHI225213,...,SBO415207,SBO015207,MAN450207,WTN220207,RTN130207,RTN131207,AFN120207,BPS030212,LND110210,POP060210
fips,,,,,,,,,,,,,,,,,,,,,
00000,316128839,308747716,2.4,308745538,6.3,23.3,14.1,50.8,77.7,13.2,...,8.3,28.8,5319456312,4174286516,3917663456,12990,613795732,829658,3531905.43,87.4
01000,4833722,4779758,1.1,4779736,6.1,23.0,14.9,51.5,69.8,26.6,...,1.2,28.1,112858843,52252752,57344851,12364,6426342,13506,50645.33,94.4
01001,55246,54571,1.2,54571,6.1,25.4,13.5,51.5,78.1,18.4,...,0.7,31.7,0,0,598175,12003,88157,385,594.44,91.8
01003,195540,182265,7.3,182265,5.7,22.4,18.1,51.2,87.3,9.5,...,1.3,27.3,1410273,0,2966489,17166,436955,1184,1589.78,114.6
01005,27076,27457,-1.4,27457,5.8,21.1,15.9,46.5,50.2,47.6,...,0.0,27.0,0,0,188337,6334,0,2,884.88,31.0

In [18]:
print (int(dataset.loc['00000', 'POP010210']) == 308745538)

True

In [19]:
dataset.loc[dataset.index=='00000']

,PST045213,PST040210,PST120213,POP010210,AGE135213,AGE295213,AGE775213,SEX255213,RHI125213,RHI225213,...,SBO415207,SBO015207,MAN450207,WTN220207,RTN130207,RTN131207,AFN120207,BPS030212,LND110210,POP060210
fips,,,,,,,,,,,,,,,,,,,,,
00000,316128839,308747716,2.4,308745538,6.3,23.3,14.1,50.8,77.7,13.2,...,8.3,28.8,5319456312,4174286516,3917663456,12990,613795732,829658,3531905.43,87.4

In [20]:
dataset.loc[dataset.index=='00000',"PST045213"]

fips
00000    316128839
Name: PST045213, dtype: int64

In [21]:
dataset["PST045213"].head()

fips
00000    316128839
01000      4833722
01001        55246
01003       195540
01005        27076
Name: PST045213, dtype: int64

In [22]:
dataset["PST045213"].sum()

948386517